<div class="holding_container">
    <div class="holding_content">
        <div class="holding_name">{{holding_info.name}}</div>
        <div class="holding_blurb">{{holding_info.blurb}}</div>
        <div class="holding_cost">{{holding_info.cost}}</div>
    </div>
    <div class="manage_occupation">
        <div class="occupation_name">{{name}}</div>
        <div class="occupation_spinner">
            <div class="occu_spinner_left"></div>
            <div class="occu_number">{{num_active}}</div>
            <div class="occu_spinner_right"></div>
        </div>
        <div class="occ_source_sink_info">
            <div class="occ_sinks">Costs:{{sink_list_string}}</div>
            <div class="occ_sources">Gains:{{source_list_string}}</div>
        </div>
    </div>
</div>